.custom-expand-all-btn {
  background-color: blue;
  color: white;
}

.custom-collapse-all-btn {
  background-color: gold;
  color: white;
}

.custom-search-filter {
  background-color: darkgray;
  color: white;
  border: none;
}

la-toc-item.selected > .content > .content__action {
  background-color: blue;
  color: white;
}

la-gutter-item {
  border: 1px solid grey;
  background-color: white;
  padding: 5px;
}
