// TODO: better wrapper

.content-with-gutter {
  display: flex;
  flex-direction: row;

  la-akoma-ntoso {
    flex: 80%;
    position: relative;
  }

  la-gutter {
    flex: 20%;
    position: relative;

    // TODO
    > la-gutter-item {
      position: absolute;
      left: 5%;
      transition: top ease-out 200ms, left ease-out 200ms;
      z-index: 2;
      width: 90%;
    }
  }
}
