// AKN inline elements
$akn-elements-inline: (
  "abbr", "remark"
);

// AKN subflow elements
$akn-elements-subflow: (
  "authorialNote", "embeddedStructure"
);

// Display names for AKN elements, possibly abbreviated
$akn-element-names: (
  "abbr": "abbr",
  "alinea": "alinea",
  "article": "article",
  "attachment": "attachment",
  "authorialNote": "footnote",
  "blockList": "items",
  "book": "book",
  "chapter": "chapter",
  "clause": "clause",
  "component": "component",
  "crossHeading": "crossHeading",
  "division": "division",
  "embeddedStructure": "quote",
  "hcontainer": "hcontainer",
  "indent": "indent",
  "intro": "intro",
  "item": "item",
  "level": "level",
  "list": "list",
  "listIntroduction": "listIntro",
  "listWrapUp": "listWrapUp",
  "paragraph": "para",
  "part": "part",
  "point": "point",
  "preamble": "preamble",
  "preface": "preface",
  "proviso": "proviso",
  "remark": "remark",
  "rule": "rule",
  "section": "section",
  "subchapter": "subchapter",
  "subclause": "subclause",
  "subdivision": "subdivision",
  "sublist": "sublist",
  "subparagraph": "subpara",
  "subpart": "subpart",
  "subrule": "subrule",
  "subsection": "subsection",
  "subtitle": "subtitle",
  "table": "table",
  "title": "title",
  "tome": "tome",
  "transitional": "transitional",
  "ul": "bullets",
  "wrapUp": "wrapUp",
);

$akn-structure-hier-start-colour: #EF9A9A;
$akn-structure-block-start-colour: adjust-hue($akn-structure-hier-start-colour, 55deg);
$akn-structure-inline-start-colour: adjust-hue($akn-structure-hier-start-colour, 105deg);
$akn-structure-subflow-start-colour: adjust-hue($akn-structure-hier-start-colour, 25deg);
$akn-structure-doc-container-start-colour: adjust-hue($akn-structure-hier-start-colour, 35deg);
$akn-structure-spacing: 3px;
