@use "sass:meta";
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i");

la-akoma-ntoso {
  display: block;

  font-family: Palatino, "Book Antiqua", "PT Serif", Georgia, serif;
  font-size: 15px;
  line-height: 1.35;

  @include meta.load-css('~indigo-web/css/indigo-web.min.css');

  &.flash-target {
    @keyframes fadeout {
      from { background-color: yellow; }
      to { background-color: unset; }
    }

    :target {
      animation: fadeout 2s;
    }
  }
}
