la-table-of-contents-controller {
  * {
    box-sizing: border-box;
  }

  .search {
    width: 100%;
    margin-bottom: 5px;
  }

  .toggle {
    margin-bottom: 5px;
  }

  .toggle__expand-all-btn {
    margin-right: 5px;
  }
}
