@use "sass:meta";
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i");

la-akoma-ntoso {
  display: block;
  @import "~indigo-web/scss/indigo-web";

  &.flash-target {
    @keyframes fadeout {
      from { background-color: yellow; }
      to { background-color: unset; }
    }

    :target {
      animation: fadeout 2s;
    }
  }

  &[frbr-country^="ke"] {
    @include tradition-ke;
  }

  &[frbr-country^="na"] {
    @include tradition-na;
  }

  &[frbr-country^="pl"] {
    @include tradition-pl;
  }
}
